html, body {
      font-family: 'Fira Sans', sans-serif;
      background-color: #f4bf88;
}

h1, h2, h3 {
      font-family: 'Fira Sans', sans-serif;
}

h4, h5 {
      font-family: 'Inconsolata', monospace;
}

h6 {
      font-family: 'Old Standard', sans-serif;
}
