html, body {
      font-family: 'Fira Sans', sans-serif;
      background-image: url(/res/subtle_white_mini_waves.png);
      background-blend-mode: multiply;
      height: 100%;
}

header {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
      margin-bottom: 0;
      border-bottom: solid #f49445 1px;
      border-top: solid #f49445 1px;
      background-image: url(/res/subtle_white_mini_waves.png);
      background-blend-mode: multiply;
}

#menu {
      font-family: 'Inconsolata', monospace;
      margin-left: 50px;
}

.topnav .icon {
      display: none;
}

#menu div{
      display: inline;
}
#menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}

#menu li {
      display: inline;
      font-weight: 200;
}

#logo {
      font-size: 30px;
      font-weight: bold;
      float: left;
      width: 300px;
      left: auto;
}

@media screen and (max-width: 750px) {
  .topnav a {display: none;}
  .topnav a.icon {
        font-size: 22px;
        float: right;
        display: block;
        line-height: 42px;
        text-decoration: none;
  }
}

@media screen and (max-width: 750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.button {
      text-align: right;
      margin-left: 10px;
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 42px;
}

#links {
      float: right;
      margin-right: 20px;
}

#about-button.active {
      color: #f49445;
}

#work-button.active {
      color: #40cde4;
}

#code-button.active {
      color: #5aa814;
}

#tricking-button.active {
      color: #d42700;
}

h1, h2, h3 {
      font-family: 'Fira Sans', sans-serif;
}

h1 {
      text-align: center !important;
      border-bottom: solid #f49445 1px;
}
h2, h3 {
      border-bottom: solid #f49445 1px;
}
h4, h5, h6 {
      /*font-family: 'Inconsolata', monospace;*/
      font-family: 'Roboto', sans-serif;
}

h5 {
      font-size: 1.20em;
      line-height: 150%;
}

h6 {
      font-size: 1.05em;
}

#about, #work, #code, #tricking {
      margin-bottom: 50px;
}

a:visited {
      color: #a37552;
}

a:link{
      color: #5e9190;
}

a:hover {
      color: #CCB5A4;
}

a:active {
      color: #FFE2CD;
}

.material-icons {
      display: inline-block;
      vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.current h3{
      text-decoration: underline;
}

#pic_mikael {
      display: block;
      margin: 0 auto;
}

.skill {
      text-align: left;
      margin-top: 0;
      margin-bottom: 4.25px;
}

.bar {
      margin-top: 0px;
}

.parallax {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#flashkick {
      min-height: 100%;
      background-image: url('/res/flashkick.jpg');
}

#desert {
      min-height: 500px;
      background-image: url('/res/desert.jpg');
}

#blurrycode {
      min-height: 500px;
      background-image: url('/res/blurrycode.png');
}

#trickingpic {
      min-height: 500px;
      background-image: url('/res/tricking.jpg');
}
