html, body {
      font-family: 'Fira Sans', sans-serif;
      background-image: url(/res/subtle_white_mini_waves.png);
      background-blend-mode: multiply;
      height: 100%;
}

header {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
      margin-bottom: 0;
      border-bottom: solid #f49445 1px;
      border-top: solid #f49445 1px;
}

h1, h2, h3 {
      font-family: 'Fira Sans', sans-serif;
}

h1 {
      text-align: center !important;
      border-bottom: solid #f49445 1px;
}
h2, h3 {
      border-bottom: solid #f49445 1px;
}
h4, h5, h6 {
      font-family: 'Inconsolata', monospace;
}

h5 {
      font-size: 1.10em;
}

#about, #work, #code, #tricking {
      margin-bottom: 50px;
}

.nav_link {
      color: black !important;
}

a:visited {
      color: #7F5B40;
}

a:link{
      color: #5e9190;
}

a:hover {
      color: #CCB5A4;
}

a:active {
      color: #FFE2CD;
}

.material-icons {
      display: inline-block;
      vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.current h3{
      text-decoration: underline;
}

#pic_mikael {
      display: block;
      margin: 0 auto;
}

.skill {
      text-align: left;
      margin-top: 0;
      margin-bottom: 4.25px;
}

.bar {
      margin-top: 0px;
}

.parallax {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#flashkick {
      min-height: 100%;
      background-image: url('/res/flashkick.jpg');
}

#desert {
      min-height: 500px;
      background-image: url('/res/desert.jpg');
}

#blurrycode {
      min-height: 500px;
      background-image: url('/res/blurrycode.png');
}

#trickingpic {
      min-height: 500px;
      background-image: url('/res/tricking.jpg');
}

.button.active {
      background: rgba(223, 223, 223, 0.80);
}
